<div class="options">
  <div class="options col-md-8 col-md-offset-2 col-xs-12">

    <div class="row">
      <div class="col-md-2 col-md-offset-3">
        <a href="/listen" class="menu menuListen">Listen</a>
      </div>
      <div class="col-md-2">
        <a href="/learn" class="menu menuLearn">Learn</a>
      </div>
      <div class="col-md-2">
        <a href="/refer" class="menu menuRefer">Refer</a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-md-offset-3">
        <a href="/screen" class="menu menuScreen">Screen</a>
      </div>
      <div class="col-md-2">
        <a href="/remind" class="menu menuRemind">Remind</a>
      </div>
       <div class="col-md-2">
        <a href="/about" class="menu menuAbout">About</a>
      </div>
    </div>
  </div>
</div>