<div class="options">
  <div class="options col-md-8 col-md-offset-2 col-xs-12">

    <div class="row row1">
      <div class="col-md-2 col-md-offset-3">
        <a href="/listen" class="menu">Listen</a>
      </div>
      <div class="col-md-2">
        <a href="/learn" class="menu">Learn</a>
      </div>
      <div class="col-md-2">
        <a href="/refer" class="menu">Refer</a>
      </div>
    </div>

    <div class="row row2">
      <div class="col-md-2 col-md-offset-3">
        <a href="/screen" class="menu">Screen</a>
      </div>
      <div class="col-md-2">
        <a href="/remind" class="menu">Remind</a>
      </div>
       <div class="col-md-2">
        <a href="/about" class="menu">About</a>
      </div>
    </div>
  </div>
</div>