<div class="options">
  <div class="row">
    <div class="phoneView col-md-4 col-sm-12">
      <a href="/listen" class="menu menuCircle">Listen</a>
    </div>
    <div class="phoneView col-md-4 col-sm-12">
      <a href="/screen" class="menu menuCircle">Screen</a>
    </div>
    <div class="phoneView col-md-4 col-sm-12">
      <a href="/refer" class="menu menuCircle">Refer</a>
    </div>
  </div>

  <div class="row">
    <div class="phoneView col-md-4 col-sm-12">
      <a href="/learn" class="menu menuCircle">Learn</a>
    </div>
    <div class="phoneView col-md-4 col-sm-12">
      <a href="/remind" class="menu menuCircle">Remind</a>
    </div>
     <div class="phoneView col-md-4 col-sm-12">
      <a href="/about" class="menu menuCircle">About</a>
    </div>
  </div>
</div>
