<div class="jumbotron">
  <div class="page-header">
      <h2 class="letterSize">
        <span class="l">L</span>
        <span class="i">E</span>
        <span class="s">A</span>
        <span class="t">R</span>
        <span class="e">N</span>
      </h2>
  </div>
  <div class="panel panel-default">
  <div class="panel-body">
    {{#each learn}}
    <div class="container">
      <h2>{{this.category}}</h2>
      <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{@index}}">{{this.subtitle}}</button>
      <div id="{{@index}}" class="collapse">
        <div>
          {{#each this.thingsToKnow}}
            <p>{{this}}</p>
          {{/each}}
          <a href="{{this.link}}">{{this.link}}</a>
        </div>

      </div>
    </div>
      <div class="buttonsContainer">
    {{/each}}
    </div>
  </div>
</div>
