<div class="jumbotron">
  <div class="page-header">
      <h2 class="letterSize">
        <span class="l">L</span>
        <span class="i">E</span>
        <span class="s">A</span>
        <span class="t">R</span>
        <span class="e">N</span>
      </h2>
  </div>
  <div class="panel panel-default">
  <div class="panel-body">
    {{#each learn}}
    <div class="container">
      <h3>{{this.category}}</h3>
      <a href="/learn/{{@index}}"><button type="button" class="btn btn-info">{{this.subtitle}}</button></a>
    </div>
    {{/each}}
  </div>
</div>
