<div class="jumbotron">
  <div class="page-header">
      <h2 class="letterSize">
        <span class="l">L</span>
        <span class="i">E</span>
        <span class="s">A</span>
        <span class="t">R</span>
        <span class="e">N</span>
      </h2>
  </div>
  <div class="panel panel-default">
  <div class="panel-body">
    {{#each learn}}
      <div class="learnSection">
        <h2>{{this.category}}</h2>
        <h3>{{this.subtitle}}</h3>
        {{#each this.things_to_know}}
          <p>{{this}}</p>
        {{/each}}
      </div>
      <div class="buttonsContainer">
    {{/each}}
    </div>
  </div>
</div>