<div class="jumbotron">
  <div class="page-header">
    <div class="row">
      <div class="col-md-2 col-sm-12">
        <h2 class="l">L</h2>
        <p class="lp"><strong>Listen</strong> nonjudgmentally and empathically gather</p>
      </div>
      <div class="col-md-2 col-sm-12">
        <h2 class="i">I</h2>
        <p class="ip">Gather <strong>Information</strong>, ask open questions, don't push</p>
      </div>
      <div class="col-md-2 col-sm-12">
        <h2 class="s">S</h2>
        <p class="sp">Assess people's risk of harm, <strong>Self-harm or Suicide</strong></p>
      </div>
      <div class="col-md-2 col-sm-12">
        <h2 class="t">T</h2>
        <p class="tp"><strong>Tell</strong> them useful information about their problem, reassure</p>
      </div>
      <div class="col-md-2 col-sm-12">
        <h2 class="e">E</h2>
        <p class="ep"><strong>Encouraging</strong> self-help and other support strategies</p>
      </div>
      <div class="col-md-2 col-sm-12">
        <h2 class="n">N</h2>
        <p class="np"><strong>Not alone</strong>, follow up and direct to appropriate professional help</p>
      </div>
    </div>
  </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 id='convoStarter' class="panel-title">Conversation Starters</h3>
      </div>
      <div class="panel-body">
        {{#each conversationStarters}}
        <div class="listenSection">
          <p>{{this.question}}</p>
        </div>
        {{/each}}
      </div>
    </div>
</div>
