<div class="jumbotron">
  <div class="page-header">
    <div class="row rowRefer">
      <div class="col-md-2 col-sm-12">
        <h2 class="l">R</h2>
      </div>
      <div class="col-md-2 col-sm-12"> 
        <h2 class="i">E</h2> 
      </div>
      <div class="col-md-2 col-sm-12">
        <h2 class="s">F</h2>
      </div>
      <div class="col-md-2 col-sm-12">
        <h2 class="t">E</h2>
      </div>
      <div class="col-md-2 col-sm-12">
        <h2 class="e">R</h2>
      </div>
    </div>
  </div>

    <div id="referContainer">
      <div class="national">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">National</h3>
          </div>
          <div class="panel-body">
            {{#each refer}}
              {{#each this.national}}
                <div>
                  <p>Section: {{this.section}}</p>
                  <p>Phone: {{this.phone}}</p>
                  <p>Website: <a href={{this.link}}>{{this.link}}</a></p>
                  <p>{{this.advice}}</p>
                </div>
              {{/each}}
            {{/each}}
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">In School</h3>
          </div>
          <div class="panel-body">
            {{#each refer}}
              {{#each this.inSchool}}
                <div>
                  <h3>Name: {{this.name}} </h3>
                  <p>Postion: {{this.position}}</p>
                  <p>Description: {{this.description}}</p>
                  <p>Email: {{this.email}}</p>
                  <p>Phone: {{this.phone}} </p>
                </div>
              {{/each}}
            {{/each}}
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">In Community</h3>
          </div>
          <div class="panel-body">
            {{#each refer}}
              {{#each this.inCommunity}}
                <div>
                  <h3>Name: {{this.name}} </h3>
                  <p>Postion: {{this.position}}</p>
                  <p>Description: {{this.description}}</p>
                  <p>Email: {{this.email}}</p>
                  <p>Phone: {{this.phone}} </p>
                  {{#each this.links}}
                    <p>Name: {{this.name}}</p>
                    <p>Link: {{this.link}}</p>
                  {{/each}}
                </div>
              {{/each}}
            {{/each}}
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Self Referral</h3>
          </div>
          <div class="panel-body">
            {{#each refer}}
              {{#each this.selfReferral}}
                <div>
                  <h3>Service Name: {{this.serviceName}} </h3>
                  <p>Description: {{this.description}}</p>
                  <p>Email: {{this.email}}</p>
                  {{#each this.links}}
                    <p>Name: {{this.name}}</p>
                    <p>Link: {{this.link}}</p>
                  {{/each}}
                </div>
              {{/each}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>
</div>
