<div class="jumbotron">
  <div class="page-header">
    <h2 class="letterSize">
      <span class="l">R</span>
      <span class="i">E</span>
      <span class="s">F</span>
      <span class="t">E</span>
      <span class="e">R</span>
    </h2>
  </div>

    <div id="referContainer">
      <div class="national">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">National</h3>
          </div>
          <div class="panel-body">
            {{#each refer.national.data}}
            <h4>{{this.section}}</h4>
            <p><span>{{this.advice}}</span></p>
            <p>Phone: <span>{{this.phone}}</span></p>
            <p><a href="{{this.link}}">Visit website</a></p>
            {{/each}}
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">In School</h3>
          </div>
          <div class="panel-body">
            {{#each refer.school.data}}
            <p>Name: <span>{{this.name}}</span></p>
            <p>Postion: <span>{{this.position}}</span></p>
            <p>Description: <span>{{this.description}}</span></p>
            <p>Email: <span>{{this.email}}</span></p>
            <p>Phone: <span>{{this.phone}}</span></p>
            {{/each}}
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">In Community</h3>
          </div>
          <div class="panel-body">
            {{#each refer.community.data}}
            <p>Name: <span>{{this.name}}</span></p>
            <p>Postion: <span>{{this.position}}</span></p>
            <p>Description: <span>{{this.description}}</span></p>
            <p>Email: <span>{{this.email}}</span></p>
            <p>Phone: <span>{{this.phone}}</span></p>
            {{#each this.links}}
              <a href={{this.link}}><p>{{this.name}}</p></a>
            {{/each}}
          {{/each}}
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Self Referral</h3>
          </div>
          <div class="panel-body">
            {{#each refer.selfReferral.data}}
            <h4>{{this.serviceName}}</h4>
            <p>Description: <span>{{this.description}}</span></p>
            <p>Email: <span>{{this.email}}</span></p>
            {{#each this.links}}
              <a href={{this.link}}><p>{{this.name}}</p></a>
            {{/each}}
          {{/each}}
          </div>
        </div>
      </div>
    </div>
</div>
