<div class="jumbotron">
  <div id="remindContainer">
    <div class="panel-heading">
      <h3 class="panel-title">Remind</h3>
    </div>

    <button id="logout">Logout</button>

    <h3>New Student</h3>

    <div class="panel-body">
      <div id="newStudentContainer">
        <div class="input-group remindInputs">
          <input type="text" id="newStudentName" class="form-control" placeholder="Student name..." aria-describedby="sizing-addon2">
        </div>
        <div class="input-group remindInputs">
          <input type="text" id="newStudentScore" class="form-control" placeholder="Score..." aria-describedby="sizing-addon2">
        </div>
        <div class="input-group remindInputs">
          <input type="text" id="newStudentClass" class="form-control" placeholder="Class..." aria-describedby="sizing-addon2">
        </div>
        <div class="input-group remindInputs">
          <input type="text" id="newStudentDate" class="form-control" placeholder="Date..." aria-describedby="sizing-addon2">
        </div>
        <button id="submitNewStudent" class="btn btn-primary navbar-btn">Submit</button>
      </div>

      <button id="showStudents" class="btn btn-info navbar-btn">Show your students</button>

      <div id="studentsContainer" style="visibility:hidden">
        {{#each remind}}
          <span> student name: </span><div>{{this.sname}}</div>
          <span> score: </span><div>{{this.score}}</div>
          <span> class: </span><div>{{this.stclass}}</div>
          <span> date: </span><div>{{this.date}}</div>
        {{/each}}
      </div>
  </div>
</div>

<script type="text/javascript" src='./public/js/remind.js'></script>
