<div class="jumbotron">
  <div class="page-header">
      <h2 class="letterSize">
        <span class="l">S</span>
        <span class="i">C</span>
        <span class="s">R</span>
        <span class="t">E</span>
        <span class="e">E</span>
        <span class="n">N</span>
      </h2>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="screen">
        <div class="row">
          <div class="col-md-12">
            <iframe src="http://youthinmind.info/py/yiminfo/"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
