body {
  overflow-x: hidden;
}

/* Navbar */
nav {
  background-color: #f8f8f8;
  color: black;
  position: fixed;
}

nav a {
  color: black;
}

nav navbar-nav li {
  padding-top: 30px;
  padding-left: 24px;
}

.brand {
  float: left;
  height: 50px;
  padding: 0px 0px;
  font-size: 18px;
  line-height: 20px;
}


#logo {
  height: 100%;
  margin-left: 1.5vw;
}

.panel-heading {
  background-color: #6DD0F8 !important;
  color: white !important;
}

.jumbotron {
  background-color: #f8f8f8 !important;
}

.jumbotron p {
  font-size: 20px !important;
}

.welcome {
  text-align: center;
}

.options {
  margin: 20px 0;
}

.landing {
  text-align: center;
}

.landing div {
  margin: 30px 0;
}

/* index page buttons */
.menu {
  display: block;
  width: 10em;
  height: 10em;
  border-radius: 100%;
  font-size: 20px;
  color: #fff;
  line-height: 100px;
  text-align: center;
  text-decoration: none;
  background: #6DD0F8;
}

.menu:hover {
  color: #fff;
  text-decoration: none;
  background: -webkit-radial-gradient(rgba(80, 200, 226, 0.65),#0D64E6);
  text-shadow: 0.5px 0.5px 0.5px #0D82E6;
}

.row {
padding-bottom: 40px;
}

.menuCircle {
  padding: 50px 20px;
  margin: auto;
}

@media screen and (max-width: 991px) { /*767*/
  .phoneView {
    text-align: center;
    background-color: #6DD0F8;
    height: 70px;
    width: 70%;
    border-radius: 10px;
    padding: 0px;
    margin: auto;
    font-size: 20px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    float: none;
  }

  .menu {
    line-height: 70px;
    text-decoration: none;
    display: block;
    width: inherit;
    height: 70px;
  }
  .menuCircle {
    padding: 0px;
    margin: auto;
  }

  .menu:hover {
    color: #fff;
    text-decoration: none;
    background: #6DD0F8;
    text-shadow: none;
  }

  .row {
    padding-bottom: 0px;
  }

}
/*listen page*/
.description h4 {
  margin-top: 0px;
}

.listen {
  max-height: 70vh;
}

.l {
  color: #D1007F;
  align-content: center;
  position: center;
}

.lp {
  background: -webkit-linear-gradient(#720BB7, #D1007F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.i {
  color: #720BB7;
}

.ip {
  background: -webkit-linear-gradient(#D1007F, #720BB7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.s {
  color: #3716BC;
}

.sp {
  background: -webkit-linear-gradient(#1345B7, #3716BC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.t {
  color: #1345B7;
}

.tp {
  background: -webkit-linear-gradient(#3716BC, #1345B7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.e {
  color: #00A8A8;
}

.ep {
  background: -webkit-linear-gradient(#00D10E, #00A8A8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.n {
  color: #00D10E;
}

.np {
  background: -webkit-linear-gradient(#00A8A8, #00D10E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* refer page  and learn*/
.rowRefer {
  padding-left: 172px;
}

/* screen page */
.rowScreen {
  padding-left: 100px;
}

.letterSize {
  font-size: 30px;
  letter-spacing: 2em;
  text-align: center;
}

.remindInputs {
  margin: 3% 3%;
}

#logout {
  float: right;
}

@media screen and (max-width: 1202px) {

  .letterSize {
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
  }

}

/* footer */
/*footer {
  background-color: #6DD0F8;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

footer p {
  margin: 20px 0;
}*/
