body {
  margin: 0;
}

#logo {
  height: 6vw;
  margin-left: 1.5vw;
}

#navbar {
  position: fixed;
  width: 100%;
  background-color: #FAFAFA;
  padding: 0.5vw;
}

a {
  text-decoration: none;
  color: black;
}

#homeLink {
  float: right;
  margin: 2vw 2vw 0 0;
  font-size: 2vw;
  color: white;
}

#footer {
  background-color: #6DD0F8;
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: white;
  padding: 1vw 0 0 1vw;
}

#footer p {
  margin: 20px 0;
}

#homeContainer {
  position: absolute;
}

#homeList {
  position: absolute;
  left: 35%;
  top: 8vw;
}

#homeList li {
  list-style-type: none;
  text-align: center;
  margin: auto;
  width: 60%;
  border: 1px solid lightgrey;
  border-radius: 5%;
  margin: 1vw;
  padding: 0.5vw 3vw;
}

#aboutContainer {
  margin: 0 auto;
  padding-top: 64px;
  max-width: 640px;
  width: 94%;
}

#aboutContainer h1, h2, p {
  text-align: center;
}

#learnContainer {
  margin: 0 auto;
  padding-top: 64px;
  max-width: 640px;
  width: 94%;
}

#learnContainer h1, h2, p {
  text-align: center;
}

#listenContainer {
  margin: 0 auto;
  padding-top: 64px;
  max-width: 640px;
  width: 94%;
}

#listenContainer h1, h2, p {
  text-align: center;
}

#questionsContainer {
  margin: 0 auto;
  padding-top: 64px;
  max-width: 640px;
  width: 94%;
}

#questionsContainer h1, h2, p {
  text-align: center;
}

#referContainer {
  margin: 0 auto;
  padding-top: 64px;
  max-width: 640px;
  width: 94%;
}

#referContainer h1, h2, p {
  text-align: center;
}

#remindContainer {
  margin: 0 auto;
  padding-top: 64px;
  max-width: 640px;
  width: 94%;
}

#remindContainer h1, h2, p {
  text-align: center;
}

#screenContainer {
  margin: 0 auto;
  padding-top: 64px;
  max-width: 640px;
  width: 94%;
}

#screenContainer h1, h2, p {
  text-align: center;
}

#questionFrame {
  z-index: -1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 500px) {
}
